@import "reset.css";

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#login-form input {
  border: none;
}

.fadein {
  animation: fadein 2s;
}

#greeting {
  font-size: 50px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
