#quote {
  padding: 20px;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}

#quote:hover {
  transform: scale(1.05);
  transition: 0.7s;
  color: yellow;
}

#quote span {
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.3px;
  text-shadow: 1px 0px 1px rgba(202, 185, 66, 0.2);
}
