#quote {
  padding: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote span {
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.3px;
  text-shadow: 2px 0px 3px rgba(202, 185, 66, 0.34);
}
